#DATA TYPES AND STRUCTURES

#THEORY ANSWERS

**QUES 01. What are data structures, and why are they important?**
-	Data structures are ways to store and organize data efficiently so that operations like searching, sorting, and retrieval can be performed quickly. They help in structuring data to optimize performance and manage complexity in software applications. Examples: lists, tuples, sets, and dictionaries.
**Why and Importance:**
-	Improve efficiency and work in data manipulation.
-	Help in optimizing storage and retrieval.
-	Used in algorithms and applications like databases, AI, and networking.
**Examples under in Python:**
-	List: Ordered, and mutable.
-	Tuple: Ordered,  and immutable.
-	Dictionary: Key-value mapping, and  fast lookups.
-	Set: Unordered, and  unique values.

**QUES 2.	Explain the difference between mutable and immutable data types with examples.**
-	Mutable data types are those that can be changed after creation, like lists, dictionaries, and sets. For example, a list [1,2,3] can be modified to [1,2,4]. Immutable data types, on the other hand, cannot be changed once created, like strings, tuples, and integers. For example, trying to change a tuple (1,2,3) will result in an error.

**QUES 3.	What are the main differences between lists and tuples in Python?**
-	Lists are mutable, meaning their elements can be changed or updated, while tuples are immutable, meaning their elements remain fixed once assigned. Lists are generally used when frequent modification is needed, whereas tuples are used for fixed collections of values.

**QUES 4.	Describe how dictionaries store data.**
-	Dictionaries store data as key-value pairs using a hash table mechanism. Each key is unique and maps to a corresponding value. This allows for fast lookup, insertion, and deletion of values.

**QUES 5. Why might you use a set instead of a list in Python?**
- Sets automatically remove duplicate values and provide faster membership checking compared to lists. This makes them ideal for scenarios where uniqueness and quick lookups are necessary.

**QUES 6. What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters that is immutable, meaning it cannot be changed after creation. A list, however, is mutable and can hold different types of elements, allowing for modification.

**QUES 7. How do tuples ensure data integrity in Python?**
- o	Since tuples are immutable, their values cannot be changed accidentally, ensuring data consistency and reliability, which is useful for fixed collections.

**QUES 8. What is a hash table, and how does it relate to dictionaries in Python?**
- o	A hash table is a data structure that stores key-value pairs efficiently by using a hash function. Python dictionaries are implemented using hash tables allowing for fast lookups and retrieval.

**QUES 9. Can lists contain different data types in Python?**
- o	Yes, lists in Python can hold multiple data types, such as integers, strings, and even other lists.

**QUES 10. Explain why strings are immutable in Python.**
- o	Strings are immutable to ensure security, efficiency, and performance optimization. This prevents accidental modification and allows Python to handle string operations more efficiently

**QUES 11. What advantages do dictionaries offer over lists for certain tasks?**

Fast lookups: O(1) on average, unlike O(n) for lists.
Key-value mapping allows meaningful indexing.
Efficient insertion & deletion.
Exam:
student = {"name": "Irfan", "age": 25}
print(student["name"])  # O(1) lookup

**QUES 12. Describe a scenario where using a tuple would be preferable over a list.**
- If data should not change, use a tuple:
months = ("feb", "apr", "dec")  # Tuple is better since months donâ€™t change

**QUES 13. How do sets handle duplicate values in Python?**
- Sets automatically remove duplicates.
nums = {51, 32, 12, 1, 8, 8}
print(nums)  # Output: {51, 32, 12, 1, 8}

**QUES 14. How does the in keyword work differently for lists and dictionaries?**
- List: Checks for values.
Dictionary: Checks for keys.
nums = [10, 20, 30]
print(2 in nums)  #  Checks values
but:
data = {"name": "Irfan", "age": 24}
print("name" in data)  # Checks keys, not values

**QUES 15. Can you modify the elements of a tuple? Explain why or why not.**
No, tuples are immutable. So, it cannot be modified.

**QUES 16. What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary within a dictionary.
Example:
students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 24, "grade": "B"}
}
print(students["Alice"]["grade"])  # Output: A

**QUES 17. Describe the time complexity of accessing elements in a dictionary.**
- O(1) on average (hash table lookup).
- O(n) in worst case (hash collisions).

**QUES 18. In what situations are lists preferred over dictionaries?**
- When order matters (lists maintain order).
- When storing sequential data.
If key-value mapping is unnecessary.
tasks = ["Drink", "take", "Code"]  # List is best for ordered tasks

**QUES 19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7, dictionaries did not maintain insertion order.
- Impact: You cannot rely on order when retrieving data.
- Workaround: Use OrderedDict in collections (for Python <3.7).

**QUES 20. Explain the difference between a list and a dictionary in terms of data retrieval.**

List (O(n)):
  -	Lookup: 		Slower (linear search)
  -	Key-value mapping: 	No
  -	Ordered:		Yes (since Python 3.7)
  
Dictionary (O(1)):
  -	Lookup:			Faster (hashing)
  -	Key-value mapping:	Yes
  -	Ordered:		No (before Python 3.7)

#PRACTICAL ANSWER

In [ ]:
#QUE:01 Create a string with your name and print it.

name = "Mr. Irfan Mumtaz"
print(name)

Mr. Irfan Mumtaz

In [ ]:
#QUE:02 Find the length of the string "Hello World!".

name = "Hello World!" #String
length = len(name) #Get the length of the string
print("Length of the name:", length)

Length of the name: 12

In [ ]:
#QUE:03 Slice the first 3 characters from the string "Python Programming".

a = "Python Programming"
sliced_text = a[:3]  # Extract first 3 characters frim the string
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [ ]:
#QUE:04 Convert the string "hello" to uppercase.

text = "hello"
Uppercase_text = text.upper()
print("The Uppercase string:", Uppercase_text)

The Uppercase string: HELLO

In [ ]:
#QUE:05 Replace the word "apple" with "orange" in the string "I like apple"

a = "I like apple"
new_text = a.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#QUE:06 Create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#QUE:07 Append the number 10 to the list [1, 2, 3, 4, 5].

a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [ ]:
#QUE:08 Remove the number 3 from the list [1, 2, 3, 4, 5].

a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#QUE:09 Access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Indexing starts from 0 and the second element will be the indexing of [1]
print("Second element:", second_element)

Second element: b

In [ ]:
#QUE:010 Reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("The Reversed list is :", numbers)

The Reversed list is : [50, 40, 30, 20, 10]

In [ ]:
#QUE:011 Create a tuple with the elements 100, 200, 300 and print it.

a = (100, 200, 300)
print(a)

(100, 200, 300)

In [ ]:
#QUE:012 Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]  # Negative indexing from yellow
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [ ]:
#QUE:013 Find the minimum number in the tuple (10, 20, 5, 15).

a = (100, 200, 50, 105)
min_value = min(a)
print("Minimum number:", min_value)

Minimum number: 50

In [ ]:
#QUE:014 Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [ ]:
#QUE:015 Create a tuple containing three different fruits and check if "kiwi" is in it.

#result will be false because there is no kiwi is present in the tuple.
fruits = ("apple", "banana", "cherry")
is_kiwi_present = "kiwi" in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_present)

#result will be True because there kiwi is present in the tuple.
fruits = ("apple", "kiwi", "banana", "cherry")
is_kiwi_present = "kiwi" in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False
Is 'kiwi' in the tuple? True

In [ ]:
#QUE:016 Create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

In [ ]:
#QUE:017 Clear all elements from the set {1, 2, 3, 4, 5}.

numbers_set = {1, 2, 3, 4, 5}
numbers_set.clear()
print("Cleared set:", numbers_set)

Cleared set: set()

In [ ]:
#QUE:018 Remove the element 4 from the set {1, 2, 3, 4}.

numbers_set = {1, 2, 3, 4}
numbers_set.remove(4)
print("Set after removing 4:", numbers_set)

Set after removing 4: {1, 2, 3}

In [ ]:
#QUE:019 Find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [ ]:
#QUE:020 Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [ ]:
#QUE:021 Create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Irfan", "age": 26, "city": "New York"}
print(person)

{'name': 'Irfan', 'age': 26, 'city': 'New York'}

In [ ]:
#QUE:022 Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [1]:
#QUE:023 Access the value associated with the key "name" in the dictionary

person = {'name': 'Irfan', 'age': 26}
name_value = person['name']
print("Value of 'name':", name_value)

Value of 'name': Irfan

In [2]:
#QUE:024 Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Irfan', 'age': 26, 'city': 'New York'}
person.pop('age')
print("Dictionary after removing 'age':", person)

Dictionary after removing 'age': {'name': 'Irfan', 'city': 'New York'}

In [4]:
#QUE:025 Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

#False when city is not present in the variable
a = {'name': 'Alice', 'market': 'Paris'}
is_city_present = "city" in a
print("Is 'city' a key in the dictionary?", is_city_present)

#True when city is present in the variable
a = {'name': 'Alice', 'city': 'Paris'}
is_city_present = "city" in a
print("Is 'city' a key in the dictionary?", is_city_present)

Is 'city' a key in the dictionary? False
Is 'city' a key in the dictionary? True

In [6]:
#QUE:026 Create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = ("icecream", "choco", "cherry")
my_dict = {"name": "Irfan", "age": 26}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('icecream', 'choco', 'cherry')
Dictionary: {'name': 'Irfan', 'age': 26}

In [11]:
#QUE:027 Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 22, 40, 42, 81]

In [12]:
#QUE:028 Create a list with strings and print the element at the third index.

words = ["choco", "apple", "icecream", "market", "cherry"]
print("Element at index 3:", words[3])

Element at index 3: market

In [14]:
#QUE:029 Combine two dictionaries into one and print the result.

dict1 = {"a": 3, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}  # Merging dictionaries
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [15]:
#QUE:030 Convert a list of strings into a set.

fruits = ["kiwi", "dragon fruits", "choco", "mango"]
fruits_set = set(fruits)
print("Set from list:", fruits_set)

Set from list: {'kiwi', 'dragon fruits', 'mango', 'choco'}